/* * {
    margin: 0;
    padding: 0;
    border: 0;
} */

/* Display Block and Flex */

body {

    font-family: sans-serif;
}

p,ul {

    border: 2px solid rebeccapurple;
    padding: 0.2em;
}

.block ,li {
    border: 2px solid blue;
    padding: 0.2em;
}

ul {
    display: flex;
    list-style: none;
}

.block {
    display: block;
}